<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
    </head>
    <body>
        <nav>
            <li>
                <a href="{% url 'account_list' %}">Account</a>
            </li>
        </nav>
        <main>
            <div>
                <h1>Create Account</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ account_form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
