<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
    </head>
    <body>
        <main>
            <nav>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
            </nav>
            <div>
                <h1>Create Receipt</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ receipt_form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
